<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AD_UNIT_ID_FOR_BANNER_TEST</key>
    <string>ca-app-pub-3940256099942544/2934735716</string>
    <key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
    <string>ca-app-pub-3940256099942544/4411468910</string>
    <key>CLIENT_ID</key>
    <string>857112835985-iq6klblhass6fjqgenush8cirdatlel7.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.857112835985-iq6klblhass6fjqgenush8cirdatlel7</string>
    <key>API_KEY</key>
    <string>AIzaSyAoah94ZaDBqR3qqVW6tKKi--LGScLWpRs</string>
    <key>GCM_SENDER_ID</key>
    <string>857112835985</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.bin.binbillcustomer</string>
    <key>PROJECT_ID</key>
    <string>binbill-consumerapp-1010f</string>
    <key>STORAGE_BUCKET</key>
    <string>binbill-consumerapp-1010f.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <true/>
    <key>IS_ANALYTICS_ENABLED</key>
    <false/>
    <key>IS_APPINVITE_ENABLED</key>
    <false/>
    <key>IS_GCM_ENABLED</key>
    <true/>
    <key>IS_SIGNIN_ENABLED</key>
    <true/>
    <key>GOOGLE_APP_ID</key>
    <string>1:857112835985:ios:b021833a24cd2b85</string>
    <key>DATABASE_URL</key>
    <string>https://binbill-consumerapp-1010f.firebaseio.com</string>
    <key>CodePushDeploymentKey</key>
    <string>deployment-key-here</string>
  </dict>
</plist>